 canvas {
     z-index: -1;
     top: 0;
     left: 0;
     position: absolute;
 }


 body {
     align-items: center;
     display: flex;
     justify-content: center;
     overflow: hidden;
     width: 100vw;
     height: 100vh;
     background: #003049;
 }
 
#sidebar{
     display:none;
   }
   #sideButton{
     display:block;
    }